.container {
    margin: 2em;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.loading h1:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        color: #f5f5f5;
        text-shadow: 0.25em 0 0 #f5f5f5, 0.5em 0 0 #f5f5f5;
    }
    40% {
        color: black;
        text-shadow: 0.25em 0 0 #f5f5f5, 0.5em 0 0 #f5f5f5;
    }
    60% {
        text-shadow: 0.25em 0 0 black, 0.5em 0 0 #f5f5f5;
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
    }
}
